<!DOCTYPE html>
<html>
<title>木森博客</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>我们很快会回来!</h1>
    <div>
        <p>很抱歉给您带来不便，但我们现在正在进行一些维护。如果您需要，您可以<a href="mailto:countable@163.com">联系我</a>, 我们很快就会回来的!</p>
        <p>&mdash; countable@163.com</p>
    </div>
</article>
</html>
